/* NAVIGATION */

.main-nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-weight: 500;
  color: #343432;
  transition: all 0.3s;
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
  border-radius: 10px;
}

.main-nav-link:hover,
.main-nav-link:active {
  background-color: #d27368;
  color: #fff;
}

.nav-class:link,
.nav-class:visited {
  display: inline-block;
  background-color: #e98074;
  color: #fff;
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
  border-radius: 10px;
}

.nav-class:hover,
.nav-class:active {
  background-color: #d27368;
  color: #fff;
}

.nav-last {
  margin-right: 3rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* Sticky Navigation */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.sticky .logo {
  height: 7.6rem;
  margin: 1rem 3rem;
}

.container-active {
  border: solid red 5px;
}

.nav-active {
  border: solid red 5px;
}
